.admin .custom-select {
    background-image: url('../../image/svg/chevron-arrow-down.svg') !important;
    background-position: right 0.75rem center !important;;
    background-size: 11px !important;;
    background-repeat: no-repeat !important;;
    padding-left: 1.55rem !important;;
}